/*********************
VARIABLES
*********************/

$terminalGreen: #1FE41A;

@font-face {
  font-family: "PressStart2P";
  src: url('PressStart2P.ttf');
}

/*********************
SETUP
*********************/

html, body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 24px;
}

body {
  font-family: 'Roboto', sans;
  background-color: black;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,ul,li,p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: underline;
}

#pageWrapper {
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

/*********************
CREATION PAGE
*********************/

#characterCreationPage {
  height: 100%;
  width: 100%;
  min-width: 1100px;
  position: relative;
  color: $terminalGreen;
  font-weight: lighter;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
          align-items: center;

  .audioSwitchBlock {
    height: 48px;
    width: 48px;
    position: absolute;
    right: 0;
    top: 115px;
    font-size: 1.5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;

    .audioSwitch {
      cursor: pointer;
    }
  }

  #characterCreationBlock {
    height: 750px;
    width: 100%;
    border: 1px solid $terminalGreen;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;

    #creationTitleBlock {
      width: 100%;
      height: 100px;
      background: $terminalGreen;
      color: black;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
              justify-content: center;

      h1 {
        font-weight: lighter;
        font-size: 1.8rem;
        font-family: "PressStart2P";
      }
    }

    #creationInfoBlock {
      height: 100%;
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
              justify-content: space-around;

      #creationNameBlock {
        margin-top: 25px;
        height: 150px;
        width: 90%;
        position: relative;
        border: 1px solid $terminalGreen;
        background-color: black;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
                align-items: center;

        #creationNameTitle {
          position: absolute;
          background-color: black;
          font-size: 1.5rem;
          top: -25px;
          left: 35px;
          width: 100px;
        }

        #characterNameInput {
          height: 100%;
          width: 100%;
          font-family: "PressStart2P";
          font-size: 3.5rem;
          background-color: black;
          border: 0;
          text-align: center;

          &:focus {
            outline: 0;
          }
        }
      }

      #creationDepartmentBlock {
        height: 275px;
        border: 1px solid $terminalGreen;
        position: relative;
        width: 90%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
                align-items: center;

        #creationDepartmentTitle {
          position: absolute;
          background-color: black;
          font-size: 1.5rem;
          top: -25px;
          left: 35px;
          width: 187.5px;
        }

        #creationDepartmentsBlock {
          width: 80%;
          border: 1px solid $terminalGreen;
          height: 200px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;

          .activeDepartment {
            background-color: $terminalGreen;
            color: black;
            border-color: black;
          }

          .creationDepartmentBlock {
            width: 25%;
            height: 100%;
            cursor: pointer;
            border-right: 1px solid $terminalGreen;
            transition: all .25s ease;
            -webkit-transition: all .25s ease;

            &:last-child {
              border-right: none;
            }

            .creationDepartmentImage {
              height: 150px;
              width: 100%;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -webkit-justify-content: center;
              -ms-flex-pack: center;
                      justify-content: center;
              -webkit-box-align: center;
              -webkit-align-items: center;
              -ms-flex-align: center;
                      align-items: center;

              i {
                font-size: 4rem;
              }
            }

            .creationDepartmentName {
              height: 50px;
              border-top: 1px solid $terminalGreen;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -webkit-justify-content: center;
              -ms-flex-pack: center;
                      justify-content: center;
              -webkit-box-align: center;
              -webkit-align-items: center;
              -ms-flex-align: center;
                      align-items: center;
            }

            &:hover {
              background-color: $terminalGreen;
              color: black;
            }
          }
        }
      }

      #creationSubmitBlock {
        width: 90%;

        button {
          width: 100%;
          font-size: 3rem;
          background-color: black;
          border: 1px solid $terminalGreen;
          transition: all .25s ease;
          -webkit-transition: all .25s ease;

          &:focus {
            outline: 0;
          }

          &:hover {
            background-color: $terminalGreen;
            color: black;
          }
        }
      }
    }
  }
}

/*********************
GAME PAGE
*********************/

#gamePage {
  height: 100%;
  width: 100%;
  min-width: 1100px;
  position: relative;
  color: $terminalGreen;
  font-weight: lighter;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
          align-items: center;

  .audioSwitchBlock2 {
    height: 48px;
    width: 48px;
    z-index: 10;
    position: absolute;
    right: 0;
    top: 50px;
    font-size: 1.5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;

    .audioSwitch2 {
      cursor: pointer;
    }
  }

  #gamePageBlock {
    position: relative;
    height: 700px;
    width: 100%;
    border: 1px solid $terminalGreen;

    #winLoseBlock {
      position: absolute;
      z-index: 10;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: $terminalGreen;
      color: black;
      font-family: "PressStart2P";
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
              flex-direction: column;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
              justify-content: space-around;

      #winLoseText {
        text-align: center;
        font-size: 5rem;
      }

      #winLosePlayAgain {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
                align-items: center;

        span {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    #gameScreen {
      height: 500px;
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
              justify-content: space-around;

      > div {
        width: 33.33%;
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
                align-items: center;

        > div {
          height: 75%;
          width: 75%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
                  align-items: center;

          i {
            font-size: 10rem;
          }
        }
      }

      #gameScreenMiddle {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
                align-items: center;

        > div {
          width: 100%;
        }

        #turnBlock {
          background-color: black;
          color: $terminalGreen;
          height: 100px;
        }

        #combatLog {
          text-align: center;

          #combatLogText {
            display: none;
          }
        }

        #infoBox {
          height: 50%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: end;
          -webkit-align-items: flex-end;
          -ms-flex-align: end;
                  align-items: flex-end;

          #infoBoxBlock {
            color: black;
            height: 50%;
            width: 100%;
            display: none;
            background-color: $terminalGreen;

            #infoBoxBlockTop {
              height: 25%;
              border-bottom: 1px solid black;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -webkit-align-items: center;
              -ms-flex-align: center;
                      align-items: center;

              #infoBoxBlockTitle {
                width: 60%;
                border-right: 1px solid black;
                text-align: center;
                font-weight: bolder;
              }

              #infoBoxBlockCost {
                width: 40%;
                text-align: center;
              }
            }

            #infoBoxBlockDescription {
              height: 75%;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              text-align: center;
              -webkit-box-pack: center;
              -webkit-justify-content: center;
              -ms-flex-pack: center;
                      justify-content: center;
              -webkit-box-align: center;
              -webkit-align-items: center;
              -ms-flex-align: center;
                      align-items: center;
            }
          }
        }
      }
    }

    #gameInfo {
      height: 200px;
      background-color: $terminalGreen;
      color: black;
      border-top: 3px solid $terminalGreen;
      border-bottom: 3px solid $terminalGreen;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;

      > div {
        width: 33.33%;
      }

      #playerInfoBlock,
      #enemyInfoBlock {
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
                flex-wrap: wrap;

        #playerInfoTitle,
        #enemyInfoTitle {
          width: 100%;
          height: 20%;
          border-bottom: 1px solid black;
          text-align: center;

          h3 {
            font-weight: lighter;
          }
        }

        #playerInfoStatNames,
        #enemyInfoStatNames {
          text-align: center;
          width: 50%;
          height: 80%;

          > div {
            height: 25%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
                    justify-content: center;
          }
        }

        #playerInfoStatValues,
        #enemyInfoStatValues {
          width: 50%;
          height: 80%;

          > div {
            height: 25%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
                    justify-content: center;
            font-weight: bolder;
          }
        }
      }

      #actionBlock {
        height: 100%;
        background-color: black;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
                align-items: center;

        #actionBlockInner {
          height: 80%;
          width: 95%;
          color: $terminalGreen;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
                  justify-content: space-between;


          #actionAttackBlock {
            width: 100%;
            height: 40%;
            border: 1px solid $terminalGreen;
            margin-bottom: 10%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
                    align-items: center;
          }

          #actionAbility1Block,
          #actionAbility2Block {
            width: 45%;
            height: 40%;
            border: 1px solid $terminalGreen;
            text-align: center;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
                    justify-content: center;
          }

          #actionAttackBlock,
          #actionAbility1Block,
          #actionAbility2Block {
            cursor: pointer;
            transition: all .25s ease;
            -webkit-transition: all .25s ease;
            &:hover {
              background-color: $terminalGreen;
              color: black;
            }
          }
        }
      }
    }
  }
}
